$backColor: white;
$fontColor: black;

$btnFontSize: 20px;

//center horizontally
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    user-select: none;
}

.btn {
    transition-duration: 1s;
    // transform: scale(1);
}


.revise_btn {
    font-size: $btnFontSize * 1.2;
}

.profile_btn {
    font-size: $btnFontSize;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.version_name {
    font-size: 15px;
    color: $fontColor;
    text-align: center;

    margin-top: -20px;
    margin-bottom: 20px;
}