.container {
  .subContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    font-size: 15px;

    // Put space between each div in the class
    >div {
      margin: 10px;
    }

    // Put all elements in the same row
    // border: 1px solid #000000
    // border-radius: 10px
    // padding: 10px
    // box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75)
  }

  .play_button {
    border-radius: 10%;
    background-color: #ffffff;
    color: #000000;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border: 1px solid #000000;

    &:hover {
      background-color: #000000;
      color: #ffffff;
    }

    &:active {
      background-color: #000000;
      color: #ffffff;
    }
  }
}